<h1>Alcohol</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date Logged</th>
      <th scope="col">Your Alcohol (units)</th>
    </tr>
  </thead>
  <tbody>
     {{#each getData }}
    <tr>
      <th scope="row">{{inputDate}}</th>
      <td>{{alchoolUnits}}</td>
    </tr>
  </tbody>
   {{/each}}
</table>