<h1>Calorie</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date Logged</th>
      <th scope="col">Your Calorie Intake (kCal)</th>
    </tr>
  </thead>
  <tbody>
    {{#each getData }}
    <tr>
      <th scope="row">{{inputDate}}</th>
      <td>{{calories}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>