<h1>Coffee</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date Logged</th>
      <th scope="col">Your coffee intake (cups)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">16.01.2021</th>
      <td>2</td>
    </tr>
  </tbody>
</table>