<h1>Coffee</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date Logged</th>
      <th scope="col">Your coffee intake (cups)</th>
    </tr>
  </thead>
  <tbody>
    {{#each getData }}
    <tr> 
      <th scope="row">{{inputDate}}</th>
      <td>{{coffeeUnits}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>