
<div class="history">
  <section class="services-class r-p" id="services-id">
    <div class="container text-center">
      <div class="row">
        <div class="col mb-5 way-fade-right">
          <div class="col">
            <!--write more-->
            <h2>History Logs</h2>
          </div>
        </div>
      </div>
      <div class="container mt-2">
        <div class="row way-fade-left">
          <div class="col-md-4 col-sm-6 item">
            <div class="card item-card card-block">
              <h4 class="card-title text-right"></h4>
              <a href="mood"><img class="card-img-top cOne-img"
                  src="/img/mood-01.png" alt=""></a>
              <h5 class="item-card-title mt-3 mb-3">Mood</h5>
              <div class="service-border"></div>
              
              
            </div>
          </div>
           <div class="col-md-4 col-sm-6 item">
            <div class="card item-card card-block">
              <h4 class="card-title text-right"></h4>
              <a href="exercise"><img class="card-img-top cOne-img"
                  src="/img/exercise-01.png" alt=""></a>
              <h5 class="item-card-title mt-3 mb-3">Exercise</h5>
              <div class="service-border"></div>
             
              
            </div>
          </div>
          <div class="col-md-4 col-sm-6 item">
            <div class="card item-card card-block">
              <h4 class="item-card-title text-right"></h4>
              <a href="sleep"><img class="card-img-top c-img"
                  src="/img/sleep-01.png" alt=""></a>
              <h5 class="card-title  mt-3 mb-3">Sleep</h5>
              <div class="service-border"></div>
         
            </div>
          </div>
          <div class="col-md-4 col-sm-6 item">
            <div class="card item-card card-block">
              <h4 class="item-card-title text-right"></h4>
              <a href="steps"><img class="card-img-top c-img"
                  src="/img/steps-01.png" alt=""></a>
              <h5 class="card-title  mt-3 mb-3">Steps</h5>
              <div class="service-border"></div>
            
             
            </div>
          </div>
           <div class="col-md-4 col-sm-6 item">
            <div class="card item-card card-block">
              <h4 class="item-card-title text-right"></h4>
              <a href="calories"><img class="card-img-top c-img"
                  src="/img/calorie-01.png" alt=""></a>
              <h5 class="card-title  mt-3 mb-3">Calories</h5>
              <div class="service-border"></div>
             
            </div>
          </div>
           <div class="col-md-4 col-sm-6 item">
            <div class="card item-card card-block">
              <h4 class="item-card-title text-right"></h4>
              <a href="alcohol"><img class="card-img-top c-img"
                  src="/img/alcohol-01.png" alt=""></a>
              <h5 class="card-title  mt-3 mb-3">Alcohol</h5>
              <div class="service-border"></div>
       
            </div>
          </div>
           <div class="col-md-4 col-sm-6 item">
            <div class="card item-card card-block">
              <h4 class="item-card-title text-right"></h4>
              <a href="coffee"><img class="card-img-top c-img"
                  src="/img/coffee-01.png" alt=""></a>
              <h5 class="card-title  mt-3 mb-3">Coffee</h5>
              <div class="service-border"></div>
              
            </div>
          </div>
           <div class="col-md-4 col-sm-6 item">
            <div class="card item-card card-block">
              <h4 class="item-card-title text-right"></h4>
              <a href="water"><img class="card-img-top c-img"
                  src="/img/water-01.png" alt=""></a>
              <h5 class="card-title  mt-3 mb-3">Water</h5>
              <div class="service-border"></div>    
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  </div>
  

