<div>
  <h1>history handlebars loaded</h1>
    <p>mood is {{testData.mood}}</p>
    <p>water intake {{testData.water}}L</p>
    <p>date: {{testData.timestamp}}</p>
    <a href="logout">Logout</a>
</div>