<div class="bg">
   <div class="container">
      <nav class="navbar navbar-expand-md 
navbar-light bg-transparent">
        <a href="#" class="navbar-brand logo">SANAYA <span class="dotlogo"></span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#aboutUS">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login">
                Get started
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
<!--text-->
 
  <div class="container">
    <div class="row headerMain">
      <div class="col-md-6">
        <img class="pebbleIMG" class="m-0" src="/img/pebbles-01.png" />
      </div>
      <div class="col-md-6">
        <h1 class="mainTitle text-center">Journalling... <span class="dot"></span></h1>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Neque nesciunt aliquid porro accusamus corporis quas veniam iure, <br></p>
        <div class="d-flex justify-content-center">
          <!--<a><button type="button" href="login" class="btn btn-warning">Get Started</button></a>-->
          <a class="btn btn-light historybtn" href="login" role="button"> Get Started</a>
        </div>
      </div>
    </div>
  </div>

  <!--text-->
  <div class="container">
    <div class="row">
      <h3 class="subhead">TRACK AND REFLECT <span class="dot"></span></h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
        Neque nesciunt aliquid porro accusamus corporis quas veniam iure, <br>
        libero autem dicta dignissimos saepe fugit ipsum aspernatur. Itaque.</p>
    </div>
  </div>


  <div class="aboutBG">

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img class="aboutIMG" src="/img/curlyhair-01.png">
        </div>
        <div class="col-md-6">
          <h1 id="aboutUS" class="aboutTitile text-end">About Us <span class="dot"></span></h1>
          <p class="text-end">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Neque nesciunt aliquid porro accusamus corporis quas veniam iure, <br>
            libero autem dicta dignissimos saepe fugit ipsum aspernatur. Itaque.</p>

          <p class="text-end">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Neque nesciunt aliquid porro accusamus corporis quas veniam iure, <br>
            libero autem dicta dignissimos saepe fugit ipsum aspernatur. Itaque.</p>
        </div>
      </div>
    </div>
  </div>
  </div>