<div>
  <!--index-->
  

  <!--Text on the left-->
  <section class="col">
    <div class="">
        <h2 class="main-header title text-center">The Greatest Wealth Is Your Health</h2>
        <p class="subtitle text-center ps-5"> Let us help you with manage your physical and mental health</p>
        <div class="justify-content-md-center d-grid gap-2 d-md-flex">
        <a class="btn btn-light" href="login" role="button"> Get Started</a>
        </div>
        </div>
      </div>

</section>
<!--About section-->
<section>
<div class="container">
  <div class="row">
    <h1 class="about text-center" id="aboutUs">About Us</h1>
    <div class="col-md-6">
  <img src="./img/aboutMe.png" class="plant-img" alt="image"/> 
  </div>
    <div class="col-md-6">
    
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
 Accusamus excepturi ab cupiditate molestiae fuga, quod sed. Velit, <br>
 maxime obcaecati mollitia, praesentium omnis reprehenderit esse eius <br>
 delectus repellendus, dicta ratione officiis!</p>
    </div>
    </div>
    </div>
</section>

    {{data}}
