
<div>
  <!--login-->
  <div class="container">
  <div class="mb-3 login">
  <label for="name" class="form-label">Name</label>
  <input type="text" class="form-control" id="name" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="email" class="form-label">Email address</label>
  <input type="email" class="form-control" id="email" placeholder="name@example.com">
</div>
<button type="submit" class="btn btn-primary" id="loginBtn">Submit</button>
</div>
<a href="dashboard">Next</a>
    
</div>