
<div>
  <!--login
  <div class="container login">
  <div class="mb-3">
  <label for="name" class="form-label">Name</label>
  <input type="text" class="form-control" id="name" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="email" class="form-label">Email address</label>
  <input type="email" class="form-control" id="email" placeholder="name@example.com">
</div>
<button type="submit" class="btn btn-primary" id="loginBtn">Submit</button>
</div>
<a href="dashboard">Next</a>-->
    
</div>

  <div class="container login">
    <div class="row px-3">
      <div class="col-lg-10 col-xl-9 cardF flex-row mx-auto px-0">
        <div class="im-left d-none d-md-flex"></div>
         <div class="card-body">
           <h4 class="loginTitle text-center mt-4">Log in</h4>
           <form class="form-box px-3">
             <div class="form-input">
               <span><i class="fas fa-user"></i></span>
               <label for="name" class="form-label"></label>
               <input type="text" id="name" name="" placeholder="Name">
             </div>
              <div class="form-input">
            
               <span><i class="fas fa-envelope-open-text"></i></span>
               <label for="email" class="form-label"></label>
               <input class="ii" id="email" type="email" name="" placeholder="Email Address">
             </div>
             <div class="mb-3">
               <button type="submit" id="loginBtn" class="btn btn-block text-uppercase">Submit</button>
             </div>
           </form>
         </div>
      </div>
    </div>

  </div>