<div class="message">

    <h3 class="messageTitle text-center">Hi {{testData.name}} </h3><br>
        <p>you can view your previous logs here </p>
    <div class="justify-content-md-center d-grid gap-2 d-md-flex">
        <!--place button at the bottom-->
    <a href="history"> <button type="submit" class="historybtn btn btn-block text-uppercase">View My Logs</button></a></div><br>
    <h1 class="affitmation text-center">Today's affirmation is: {{message.affirmation}}</h1>

</div>