<div class="messageBg">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-transparent">
      <a href="/" class="navbar-brand logo">SANAYA <span class="dotlogo"></span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link selfieNav" href="#selfie-section">
              Selfie Tracker
            </a>
          <li class="nav-item">
            <a class="nav-link" href="history">
              View My Logs
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">
              Logout
            </a>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-6 affirmationSection">
          <div class="message">
            <div>
              <h1 class="affirmationName text-uppercase text-center">Hi <br>{{ getDataUser.userName}} <span class="dot"></span></h1>
            </div>
            <div class="justify-content-md-center d-grid gap-2 d-md-flex">
              <h4 class="affitmationTitle text-center">Here is your affirmation:</h4>
            </div>
            <h2 class="text-center affirmationAPI">"{{payload.affirmation}}"</h2>
            <h3 class="text-center text-uppercase">{{ message}}</h3>
            <div>
              <div class="d-flex justify-content-center">

                <a class="historybtn btn btn-warning" href="history" role="button"> View My History Logs</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    
    </div>
  </div>
</div>

<section id="selfie-section">
  <div class="container">
    <div class="row">
    
  <h1 class="text-center selfie-title">Selfie Tracker <span class="dot"></span></h1>
     
      <div class="col-md-6">
        
        <!--<form action="http://localhost:3000/dashboard/{{getDataUser.sessionId}}/message" enctype="multipart/form-data" method="POST"> -->
   
      <div class = "image-preview image-container" id = "imagePreview">
          <img src = "" alt = "image-preview" class = "image-preview__image">
          <input class="inputField" type = "file" name = "inpFile" id = "inpFile">
          <label class="uploadBtn" for="inpFile">Choose photo</label>
          <!--<span class = "image-preview-text">Preview Image</span>-->
      </div>
       <button class="btn uploadfileBTn"type = "submit" id= "submitImage">Upload photo</button>
     <!-- </form>-->
      </div>
      
    </div>
  </div>
  
</section>