<div class="container">
    <div class="message">
        <div>
            <h1>HI {{ getDataUser.userName}}</h1>
        </div>
    <div class="justify-content-md-center d-grid gap-2 d-md-flex">
        <h2 class="affitmation text-center">Here is your daily affirmation: {{payload.affirmation}}</h2>
    </div>
    <div>
        <a class="historybtn btn btn-block text-uppercase" href="history" role="button"> View My History Logs</a>
    </div>
</div>