
<h1>Mood</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date Logged</th>
      <th scope="col">Your mood</th>
    </tr>
  </thead>
  <tbody>
          {{#each getData }}
        <tr>
          <td>{{date}}16.01.2021</td>
          <td>{{mood}}Happy</td>
        </tr>
          {{/each}}
      </tbody>
</table>

      