
<h1>Mood</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date Logged</th>
      <th scope="col">Your mood</th>
    </tr>
  </thead>
  <tbody>
        {{#each getData }}
        <tr>
          <td>{{inputDate}}</td>
          <td>{{moods}}</td>
        </tr>
        {{/each}}
      </tbody>
</table>

      