{{#each img}}
<div id = "imageDiv" style = "">
    <img id = "imagePhotos" src ="/selfies/{{imageName}}" style = "width : 25%; height : auto; margin-left: 35%;"/> 
    <h5 style = " margin-left: 40%;">Image date: {{inputDate}}</h5>
</div>
{{/each}}