    <div class="historyBG">
       

<div class="container">
     <nav class="navbar navbar-expand-md 
navbar-light bg-transparent">
      <a href="/" class="navbar-brand logo">SANAYA <span class="dotlogo"></span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="history">
              View My Logs
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">
              Logout
            </a>
        </ul>
      </div>
    </nav>
    <div class="row">
         <h1 class="selfieLogTitle text-center">Selfie Taker <span class="dot"></span></h1>
         {{#each img}}
        <div class="selfie">
    <img class="selfieImageSize" src ="/selfies/{{imageName}}" /> 
    </div>

{{/each}}
    </div>
</div>
</div>


 