.messageBg{
    background-image: url(../img/balloon-01.png);
    background-size: cover;
    height: 100vh;
}

.dotlogo{
    height: 10px;
    width: 10px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
}
.dot{
    height: 20px;
    width: 20px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
}

.logo{
    font-family: 'Abril Fatface', cursive;
}

.messageIMG{
    width: 1000px;
   
}

.affirmationName{
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    
}

.affirmationSection{
    margin-top: 70px;
}

.affitmationTitle{
    margin: 20px;
}

.affirmationAPI{
    margin-top: 40px;
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
}

.historybtn{
    margin-top: 30px;
}

.logTitle{
    font-family: 'Abril Fatface', cursive;
    font-size: 80px;
}

.historySection{
    margin-top: 75px;
}

.table{
    margin-top:40px;
}
.dashboardBackground{
    background-image: url(../img/dashboardBg-01.png);
    background-size: cover;
    height: 100vh;
}

.historyBG{
    background-image: url(../img/moodPebble-01.png);
    background-size: cover;
    height: 100vh;
}

.image-preview{
    width:300px;
    height:100px;
    border: 2px solid #dddddd;
    margin-top:15px; 
 }

 .image-preview__image{
     display:none;
     width:100%;
 }

 #submitImage{
     display: none;
 }
 
.historybtn{
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.deletebtn{
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 300px;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  .card-text{
    height:80px;  
  }
  .item{
    padding-left:5px;
    padding-right:5px;
    width: 300px;
    margin: 10px;
  }
  .item-card{
    transition:0.5s;
    cursor:pointer;
  }
  .item-card-title{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
  }
  .item-card-title i{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
  }


footer{
    position: relative;
    color: #fff;
    padding: 50px 0;
    background-color: #222;
    text-align: center;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 2rem 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
   color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    color:#fff;

    
}
.underline{
    border-bottom: 1px solid #000;
    margin-top: 10px;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
